@import url(https://fonts.bunny.net/css?family=montserrat:700&display:swap);
@import url('./local.reset.css');

:root {
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --pale-blue: hsl(237, 63%, 64%);
    --faded-blue: hsl(236, 72%, 79%);
    --primary-gradient: linear-gradient(90deg, var(--faded-blue), var(--pale-blue));
    --card-shadow: 2px 4px 24px hsla(234, 14%, 74%, 50%);
    --switch-shadow: 0px 4px 18px hsla(237, 92%, 66%, 0.95);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background: var(--very-light-grayish-blue);
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right -11rem top -2.5rem, left -5rem bottom 0;
    color: var(--dark-grayish-blue);
}

main {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--grayish-blue);
    margin-bottom: 1rem;
}

.wrap {
    width: 100%;
    max-width: 600px;
}

.switch {
    color: var(--light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.switch__toggle {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.slider {
        background: var(--faded-blue);
    }

    input:focus+.slider {
        outline: 2px solid var(--pale-blue);
        outline-offset: 3px;
        transition: none;
    }

    input:checked+.slider:before {
        transform: translateX(1.5em);
    }

    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background: var(--pale-blue);
        border-radius: 50px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .slider:before {
        position: absolute;
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        width: 2em;
        inset: 0;
        background-color: white;
        border-radius: 50px;
        box-shadow: var(--switch-shadow);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.switch:has(input#payment-type:checked)~.pricing__container>.pricing__card>.price__month {
    display: flex;
}

.switch:has(input#payment-type:not(:checked))~.pricing__container>.pricing__card>.price__annual {
    display: flex;
}

.pricing__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.pricing__card {
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    color: var(--grayish-blue);

    h2 {
        font-size: 18px;
    }

    .price__annual,
    .price__month {
        font-size: 4rem;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        display: none;

        .currency {
            font-size: 2.5rem;
        }
    }

    .features {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    button {
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        margin-top: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        cursor: pointer;
    }
}

.pricing__card:not(.highlight) {
    background: var(--white);
    box-shadow: var(--card-shadow);

    ul.features {
        li {
            border-bottom: 1px solid var(--light-grayish-blue);
            padding: 1rem 0;
        }

        li:nth-child(1) {
            border-top: 1px solid var(--light-grayish-blue);
        }
    }

    button {
        background: var(--primary-gradient);
        color: var(--white);
        border: 1px solid transparent;
        transition: all 0.3s ease-out;
    }

    button:hover {
        background: var(--very-light-grayish-blue);
        color: var(--pale-blue);
        border-color: var(--pale-blue);
        transition: all 0.3s ease-out;
    }

    button:focus {
        outline: 2px solid var(--pale-blue);
        outline-offset: 2px;
        transition: none;
    }

    button:active {
        background: var(--very-light-grayish-blue);
        color: var(--pale-blue);
        border-color: var(--pale-blue);
        outline-offset: 4px;
        transform: scale(0.96);

    }
}

.pricing__card.highlight {
    background: var(--primary-gradient);
    color: var(--white);

    ul.features {
        li {
            border-bottom: 1px solid var(--very-light-grayish-blue);
            padding: 1rem 0;
        }

        li:nth-child(1) {
            border-top: 1px solid var(--very-light-grayish-blue);
        }
    }

    button {
        background: var(--very-light-grayish-blue);
        color: var(--pale-blue);
        border: 1px solid transparent;
        transition: all 0.3s ease-out;
    }

    button:hover {
        background: transparent;
        color: var(--white);
        border-color: var(--white);
        transition: all 0.3s ease-out;
    }

    button:focus {
        outline: 2px solid var(--white);
        outline-offset: 3px;
        transition: none;
    }

    button:active {
        background: var(--very-light-grayish-blue);
        color: var(--pale-blue);
        border-color: var(--pale-blue);
        outline-offset: 4px;
        transform: scale(0.96);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--pale-blue);
}

@media (width > 768px) {
    body {
        background-position: right 0 top 0, left 0 bottom 0;
    }
}

@media (width > 1024px) {
    .wrap {
        max-width: calc(382px * 3);
    }

    .pricing__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pricing__card:nth-of-type(1) {
        border-radius: 10px 0 0 10px;
    }

    .pricing__card:nth-of-type(3) {
        border-radius: 0 10px 10px 0;
    }

    .pricing__card:not(.highlight) {
        height: fit-content;
        align-self: center;
    }

    .pricing__card.highlight {
        padding: 4rem 2rem;
    }
}